
body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #101011;
}

/* navigation bar */
#navigation{
    background-color:#1d2d50 ;
    text-align: center;
    padding: 1% 5%;
    color: #fcdab7;
    line-height: 2;
    font-size: large;
    font-family: 'Secular One', sans-serif;
}

/* name of brand in navigation bar */
.navbar-brand{
    font-size: 2rem;
}


.nav-item{
    padding-right: 1%;
    padding-left: 1%;
}

.nav-link{
    font-weight: 300;
    font-size: small;
}

.container-fluid{
    padding:2% 10% 5%;
}


.title-text{
    margin-top: 3rem;
}



#title-main {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
    text-align: center;
  }
  
  #stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1770px 1078px #FFF , 879px 371px #FFF , 1265px 1655px #FFF , 1153px 1816px #FFF , 568px 576px #FFF , 512px 1956px #FFF , 783px 1287px #FFF , 1568px 1292px #FFF , 562px 835px #FFF , 1629px 138px #FFF , 1247px 592px #FFF , 950px 8px #FFF , 1231px 303px #FFF , 973px 1556px #FFF , 133px 1245px #FFF , 877px 1825px #FFF , 1848px 1368px #FFF , 994px 255px #FFF , 90px 1744px #FFF , 1818px 526px #FFF , 427px 1115px #FFF , 771px 35px #FFF , 596px 1420px #FFF , 321px 936px #FFF , 1317px 1444px #FFF , 173px 776px #FFF , 933px 429px #FFF , 1921px 1065px #FFF , 1555px 172px #FFF , 1587px 617px #FFF , 134px 170px #FFF , 1856px 1582px #FFF , 415px 811px #FFF , 193px 914px #FFF , 333px 708px #FFF , 1056px 1649px #FFF , 343px 346px #FFF , 755px 1702px #FFF , 17px 1883px #FFF , 530px 1826px #FFF , 1595px 1851px #FFF , 1684px 1923px #FFF , 1746px 600px #FFF , 1254px 1712px #FFF , 108px 1356px #FFF , 58px 338px #FFF , 197px 553px #FFF , 1805px 1558px #FFF , 1017px 474px #FFF , 785px 576px #FFF , 305px 1041px #FFF , 733px 1154px #FFF , 524px 1199px #FFF , 1132px 1231px #FFF , 749px 1119px #FFF , 1541px 750px #FFF , 1027px 28px #FFF , 1048px 1530px #FFF , 674px 915px #FFF , 1215px 222px #FFF , 946px 1245px #FFF , 1767px 1698px #FFF , 1596px 1071px #FFF , 1614px 1958px #FFF , 403px 254px #FFF , 1861px 1728px #FFF , 744px 1704px #FFF , 1975px 215px #FFF , 360px 529px #FFF , 164px 1110px #FFF , 331px 1529px #FFF , 568px 550px #FFF , 1877px 1060px #FFF , 1379px 975px #FFF , 1953px 1131px #FFF , 1794px 1265px #FFF , 1334px 1158px #FFF , 1609px 50px #FFF , 567px 167px #FFF , 835px 1844px #FFF , 106px 834px #FFF , 310px 246px #FFF , 1938px 1504px #FFF , 1741px 441px #FFF , 642px 1649px #FFF , 44px 1786px #FFF , 86px 674px #FFF , 437px 118px #FFF , 1301px 606px #FFF , 1513px 1000px #FFF , 539px 1210px #FFF , 183px 963px #FFF , 117px 823px #FFF , 259px 555px #FFF , 1592px 661px #FFF , 1615px 1199px #FFF , 865px 676px #FFF , 1309px 1464px #FFF , 1626px 820px #FFF , 453px 674px #FFF , 1577px 367px #FFF , 926px 1946px #FFF , 487px 1087px #FFF , 1752px 816px #FFF , 3px 995px #FFF , 1444px 742px #FFF , 42px 1970px #FFF , 1143px 1549px #FFF , 921px 1601px #FFF , 1356px 1769px #FFF , 1729px 1412px #FFF , 509px 1872px #FFF , 1963px 180px #FFF , 228px 724px #FFF , 1936px 633px #FFF , 418px 930px #FFF , 1824px 174px #FFF , 970px 422px #FFF , 1112px 317px #FFF , 1438px 295px #FFF , 572px 1207px #FFF , 1794px 1515px #FFF , 179px 1604px #FFF , 1075px 263px #FFF , 725px 1741px #FFF , 365px 885px #FFF , 1238px 1154px #FFF , 1007px 337px #FFF , 572px 1077px #FFF , 705px 1394px #FFF , 135px 229px #FFF , 1334px 671px #FFF , 902px 1779px #FFF , 552px 1931px #FFF , 42px 592px #FFF , 757px 1306px #FFF , 485px 817px #FFF , 399px 1173px #FFF , 230px 708px #FFF , 1706px 1529px #FFF , 1295px 1405px #FFF , 1345px 318px #FFF , 146px 240px #FFF , 1879px 547px #FFF , 1971px 399px #FFF , 1669px 259px #FFF , 1399px 891px #FFF , 266px 1455px #FFF , 833px 1604px #FFF , 828px 85px #FFF , 14px 1018px #FFF , 517px 1357px #FFF , 661px 1829px #FFF , 152px 1177px #FFF , 1814px 613px #FFF , 1058px 811px #FFF , 649px 86px #FFF , 625px 256px #FFF , 1098px 880px #FFF , 1756px 317px #FFF , 107px 552px #FFF , 1260px 1482px #FFF , 124px 1074px #FFF , 380px 349px #FFF , 1036px 1251px #FFF , 1386px 1315px #FFF , 963px 774px #FFF , 1104px 90px #FFF , 1978px 381px #FFF , 1101px 33px #FFF , 153px 409px #FFF , 1018px 1852px #FFF , 1219px 689px #FFF , 377px 1891px #FFF , 1171px 854px #FFF , 459px 536px #FFF , 1951px 1319px #FFF , 1235px 1027px #FFF , 383px 1183px #FFF , 1730px 549px #FFF , 943px 1918px #FFF , 1272px 1564px #FFF , 680px 586px #FFF , 512px 184px #FFF , 1261px 1053px #FFF , 1503px 976px #FFF , 1707px 1770px #FFF , 1444px 1070px #FFF , 1629px 1651px #FFF , 636px 447px #FFF , 1920px 592px #FFF , 172px 777px #FFF , 443px 1776px #FFF , 1095px 1302px #FFF , 1516px 754px #FFF , 1116px 301px #FFF , 878px 1578px #FFF , 878px 1486px #FFF , 1211px 961px #FFF , 1640px 37px #FFF , 929px 1283px #FFF , 1693px 1334px #FFF , 1860px 1684px #FFF , 1212px 758px #FFF , 1871px 638px #FFF , 1155px 1588px #FFF , 327px 1892px #FFF , 565px 784px #FFF , 180px 274px #FFF , 1782px 994px #FFF , 1806px 1561px #FFF , 1846px 1204px #FFF , 1960px 1387px #FFF , 450px 1889px #FFF , 1387px 1299px #FFF , 1160px 1773px #FFF , 1623px 484px #FFF , 660px 967px #FFF , 1113px 1899px #FFF , 959px 1845px #FFF , 1245px 918px #FFF , 616px 417px #FFF , 1106px 1307px #FFF , 170px 1041px #FFF , 1447px 1553px #FFF , 1915px 147px #FFF , 151px 251px #FFF , 958px 179px #FFF , 1783px 602px #FFF , 565px 1970px #FFF , 1736px 841px #FFF , 1646px 1386px #FFF , 881px 131px #FFF , 1447px 1633px #FFF , 1846px 1932px #FFF , 902px 1460px #FFF , 1697px 298px #FFF , 325px 367px #FFF , 342px 1586px #FFF , 1004px 1140px #FFF , 1369px 1605px #FFF , 1561px 739px #FFF , 1743px 861px #FFF , 812px 1814px #FFF , 415px 185px #FFF , 244px 735px #FFF , 1302px 1565px #FFF , 1484px 656px #FFF , 252px 372px #FFF , 846px 678px #FFF , 1951px 1329px #FFF , 1732px 1774px #FFF , 272px 1146px #FFF , 116px 1306px #FFF , 1848px 197px #FFF , 1225px 1001px #FFF , 1666px 1581px #FFF , 798px 1477px #FFF , 125px 1633px #FFF , 9px 1819px #FFF , 465px 1170px #FFF , 1329px 1711px #FFF , 316px 408px #FFF , 470px 1082px #FFF , 698px 938px #FFF , 745px 243px #FFF , 764px 1572px #FFF , 346px 8px #FFF , 1075px 1393px #FFF , 803px 600px #FFF , 193px 947px #FFF , 385px 620px #FFF , 159px 39px #FFF , 1643px 301px #FFF , 82px 1888px #FFF , 1398px 1120px #FFF , 906px 704px #FFF , 921px 248px #FFF , 1402px 1882px #FFF , 308px 1899px #FFF , 1985px 1471px #FFF , 1580px 1060px #FFF , 1442px 428px #FFF , 1441px 1539px #FFF , 843px 1426px #FFF , 1869px 1285px #FFF , 1214px 612px #FFF , 1702px 762px #FFF , 1862px 527px #FFF , 39px 784px #FFF , 734px 545px #FFF , 1834px 1393px #FFF , 1094px 1958px #FFF , 347px 1865px #FFF , 1365px 57px #FFF , 545px 942px #FFF , 1746px 1255px #FFF , 1758px 232px #FFF , 1637px 1472px #FFF , 681px 976px #FFF , 118px 1056px #FFF , 431px 348px #FFF , 265px 630px #FFF , 1316px 73px #FFF , 536px 1153px #FFF , 626px 928px #FFF , 1297px 1028px #FFF , 1871px 1054px #FFF , 460px 816px #FFF , 1904px 1633px #FFF , 53px 1079px #FFF , 1026px 1309px #FFF , 830px 715px #FFF , 717px 1728px #FFF , 1632px 1234px #FFF , 61px 462px #FFF , 1692px 1605px #FFF , 876px 1415px #FFF , 1209px 571px #FFF , 1367px 1206px #FFF , 1229px 1727px #FFF , 744px 1753px #FFF , 1552px 146px #FFF , 1753px 1030px #FFF , 839px 377px #FFF , 1114px 54px #FFF , 1306px 1242px #FFF , 1706px 262px #FFF , 1680px 1682px #FFF , 1709px 1278px #FFF , 1770px 345px #FFF , 1813px 385px #FFF , 795px 1736px #FFF , 1386px 890px #FFF , 1385px 288px #FFF , 1353px 1051px #FFF , 1467px 1721px #FFF , 1045px 1893px #FFF , 378px 1438px #FFF , 1585px 306px #FFF , 785px 1617px #FFF , 1619px 1029px #FFF , 1754px 664px #FFF , 740px 1496px #FFF , 1284px 11px #FFF , 1914px 180px #FFF , 901px 102px #FFF , 1363px 545px #FFF , 82px 109px #FFF , 1062px 880px #FFF , 315px 452px #FFF , 1735px 1268px #FFF , 200px 898px #FFF , 1667px 1064px #FFF , 461px 435px #FFF , 1182px 1040px #FFF , 659px 717px #FFF , 669px 395px #FFF , 1821px 1781px #FFF , 1615px 828px #FFF , 490px 1249px #FFF , 1469px 52px #FFF , 453px 1505px #FFF , 80px 40px #FFF , 332px 409px #FFF , 1983px 1427px #FFF , 41px 1849px #FFF , 961px 16px #FFF , 1548px 997px #FFF , 1989px 276px #FFF , 1731px 547px #FFF , 1979px 1326px #FFF , 1822px 590px #FFF , 709px 1464px #FFF , 1349px 250px #FFF , 1364px 511px #FFF , 1123px 954px #FFF , 210px 33px #FFF , 1610px 369px #FFF , 1842px 68px #FFF , 230px 723px #FFF , 1999px 250px #FFF , 147px 1512px #FFF , 847px 964px #FFF , 1177px 742px #FFF , 1867px 115px #FFF , 1462px 93px #FFF , 485px 1249px #FFF , 361px 779px #FFF , 1006px 746px #FFF , 1340px 991px #FFF , 1776px 1381px #FFF , 565px 1487px #FFF , 857px 23px #FFF , 246px 1734px #FFF , 604px 1461px #FFF , 81px 1294px #FFF , 1670px 393px #FFF , 449px 1729px #FFF , 759px 402px #FFF , 1733px 108px #FFF , 11px 266px #FFF , 1815px 984px #FFF , 226px 567px #FFF , 77px 845px #FFF , 612px 1970px #FFF , 16px 1622px #FFF , 1687px 434px #FFF , 231px 283px #FFF , 31px 1698px #FFF , 196px 1690px #FFF , 1951px 1649px #FFF , 1723px 1871px #FFF , 1546px 870px #FFF , 767px 607px #FFF , 800px 999px #FFF , 1903px 1574px #FFF , 1939px 1193px #FFF , 1896px 1763px #FFF , 1532px 1419px #FFF , 1203px 1841px #FFF , 1833px 448px #FFF , 289px 1869px #FFF , 1326px 1978px #FFF , 1730px 1639px #FFF , 1933px 1540px #FFF , 380px 392px #FFF , 821px 1069px #FFF , 577px 338px #FFF , 1910px 1208px #FFF , 240px 1629px #FFF , 1307px 178px #FFF , 1684px 1851px #FFF , 739px 257px #FFF , 274px 1663px #FFF , 1109px 1230px #FFF , 1417px 632px #FFF , 1123px 342px #FFF , 276px 113px #FFF , 470px 959px #FFF , 656px 270px #FFF , 1283px 1253px #FFF , 1367px 1691px #FFF , 215px 243px #FFF , 1397px 1521px #FFF , 1687px 1202px #FFF , 1166px 1380px #FFF , 741px 1030px #FFF , 206px 1916px #FFF , 291px 198px #FFF , 525px 986px #FFF , 271px 300px #FFF , 936px 288px #FFF , 1364px 211px #FFF , 187px 1446px #FFF , 1876px 851px #FFF , 36px 1526px #FFF , 1692px 152px #FFF , 1121px 143px #FFF , 1526px 1477px #FFF , 684px 1135px #FFF , 1945px 1166px #FFF , 1351px 1038px #FFF , 1130px 923px #FFF , 1911px 449px #FFF , 473px 198px #FFF , 414px 1026px #FFF , 385px 1667px #FFF , 718px 222px #FFF , 200px 309px #FFF , 379px 1345px #FFF , 1686px 66px #FFF , 124px 1733px #FFF , 1739px 263px #FFF , 1429px 334px #FFF , 1522px 1591px #FFF , 1543px 124px #FFF , 1840px 1911px #FFF , 1689px 1052px #FFF , 397px 1270px #FFF , 1430px 1801px #FFF , 1796px 532px #FFF , 38px 225px #FFF , 22px 1389px #FFF , 1836px 1442px #FFF , 29px 473px #FFF , 1370px 1px #FFF , 1165px 107px #FFF , 580px 634px #FFF , 805px 944px #FFF , 1148px 272px #FFF , 1422px 1212px #FFF , 1159px 699px #FFF , 1411px 1676px #FFF , 567px 232px #FFF , 1609px 457px #FFF , 384px 1541px #FFF , 1246px 1571px #FFF , 979px 165px #FFF , 821px 1996px #FFF , 303px 1763px #FFF , 915px 1105px #FFF , 1227px 599px #FFF , 562px 1115px #FFF , 1923px 120px #FFF , 787px 241px #FFF , 1161px 360px #FFF , 698px 1949px #FFF , 23px 1559px #FFF , 1432px 943px #FFF , 160px 836px #FFF , 507px 336px #FFF , 1707px 1163px #FFF , 691px 1380px #FFF , 18px 1217px #FFF , 1847px 1387px #FFF , 56px 493px #FFF , 1779px 259px #FFF , 525px 1933px #FFF , 306px 1534px #FFF , 1850px 1795px #FFF , 568px 1065px #FFF , 895px 1709px #FFF , 414px 459px #FFF , 849px 1312px #FFF , 1386px 304px #FFF , 1176px 1071px #FFF , 1077px 1449px #FFF , 1409px 1348px #FFF , 1528px 831px #FFF , 1063px 1621px #FFF , 863px 147px #FFF , 840px 657px #FFF , 1088px 1394px #FFF , 696px 974px #FFF , 1139px 352px #FFF , 772px 539px #FFF , 1900px 922px #FFF , 1042px 979px #FFF , 697px 1254px #FFF , 1527px 463px #FFF , 1644px 751px #FFF , 1445px 500px #FFF , 306px 1554px #FFF , 20px 1354px #FFF , 1089px 849px #FFF , 1079px 1408px #FFF , 916px 212px #FFF , 1085px 639px #FFF , 919px 1682px #FFF , 1069px 511px #FFF , 1102px 1057px #FFF , 1113px 456px #FFF , 682px 1346px #FFF , 1515px 738px #FFF , 721px 1239px #FFF , 1127px 881px #FFF , 1695px 1128px #FFF , 148px 1000px #FFF , 1581px 244px #FFF , 1466px 751px #FFF , 524px 836px #FFF , 56px 1804px #FFF , 434px 313px #FFF , 1956px 1364px #FFF , 1085px 1414px #FFF , 419px 1508px #FFF , 479px 363px #FFF , 1355px 1347px #FFF , 999px 1428px #FFF , 1557px 748px #FFF , 671px 71px #FFF , 1304px 1958px #FFF , 1209px 145px #FFF , 1359px 42px #FFF , 1492px 420px #FFF , 349px 1812px #FFF , 1746px 1401px #FFF , 1192px 762px #FFF , 1487px 755px #FFF , 1880px 1482px #FFF , 737px 144px #FFF , 740px 1661px #FFF , 570px 1208px #FFF , 1876px 1284px #FFF , 1081px 537px #FFF , 1213px 114px #FFF , 500px 134px #FFF , 1414px 1623px #FFF , 693px 1959px #FFF , 1614px 1578px #FFF , 735px 772px #FFF , 1026px 839px #FFF , 1141px 865px #FFF , 417px 986px #FFF , 372px 1542px #FFF , 1230px 216px #FFF , 1528px 1638px #FFF , 645px 763px #FFF , 1764px 623px #FFF , 509px 683px #FFF , 332px 1331px #FFF , 616px 2px #FFF , 1503px 1224px #FFF , 856px 1991px #FFF , 1570px 1903px #FFF , 1052px 1856px #FFF , 1218px 1713px #FFF , 485px 897px #FFF , 582px 1354px #FFF , 1319px 1920px #FFF , 1679px 1966px #FFF , 286px 107px #FFF , 1668px 1373px #FFF , 1615px 234px #FFF , 374px 22px #FFF , 1647px 343px #FFF , 1861px 1493px #FFF , 1413px 18px #FFF , 725px 1413px #FFF , 1476px 972px #FFF , 1986px 586px #FFF , 1588px 1290px #FFF , 300px 1778px #FFF , 128px 1883px #FFF , 902px 1843px #FFF , 695px 1497px #FFF , 637px 798px #FFF , 571px 1835px #FFF , 1353px 1256px #FFF , 218px 833px #FFF , 826px 10px #FFF , 989px 517px #FFF , 1018px 788px #FFF , 49px 1599px #FFF , 1324px 1246px #FFF , 478px 1445px #FFF , 46px 1486px #FFF , 317px 1596px #FFF , 783px 1070px #FFF , 833px 1368px #FFF , 1376px 1573px #FFF , 1953px 1255px #FFF , 1160px 1904px #FFF , 1357px 75px #FFF , 376px 750px #FFF , 634px 959px #FFF , 769px 544px #FFF , 1952px 1725px #FFF , 207px 1206px #FFF , 963px 1328px #FFF , 374px 1760px #FFF , 875px 1939px #FFF , 63px 1926px #FFF , 452px 530px #FFF , 296px 1125px #FFF , 1515px 1823px #FFF , 411px 785px #FFF , 1955px 1919px #FFF , 1755px 1696px #FFF , 1953px 924px #FFF , 1779px 1287px #FFF , 1106px 403px #FFF , 1540px 1682px #FFF , 1865px 1932px #FFF , 858px 13px #FFF , 698px 1580px #FFF , 426px 487px #FFF , 302px 412px #FFF , 961px 1792px #FFF , 398px 213px #FFF , 1868px 629px #FFF , 1757px 1518px #FFF , 871px 806px #FFF , 500px 1084px #FFF , 252px 1332px #FFF , 1037px 1579px #FFF , 367px 1033px #FFF , 1963px 1453px #FFF , 1212px 233px #FFF , 147px 1663px #FFF , 1346px 445px #FFF , 931px 888px #FFF , 1203px 1913px #FFF , 1340px 1489px #FFF , 1601px 1672px #FFF , 1566px 998px #FFF , 746px 1654px #FFF , 11px 1423px #FFF , 880px 1189px #FFF , 1496px 1624px #FFF , 152px 621px #FFF , 1352px 367px #FFF , 583px 1386px #FFF , 1982px 1061px #FFF , 236px 1521px #FFF , 885px 1442px #FFF , 696px 821px #FFF , 272px 719px #FFF , 1420px 647px #FFF;
    animation: animStar 50s linear infinite;
  }
  #stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1770px 1078px #FFF , 879px 371px #FFF , 1265px 1655px #FFF , 1153px 1816px #FFF , 568px 576px #FFF , 512px 1956px #FFF , 783px 1287px #FFF , 1568px 1292px #FFF , 562px 835px #FFF , 1629px 138px #FFF , 1247px 592px #FFF , 950px 8px #FFF , 1231px 303px #FFF , 973px 1556px #FFF , 133px 1245px #FFF , 877px 1825px #FFF , 1848px 1368px #FFF , 994px 255px #FFF , 90px 1744px #FFF , 1818px 526px #FFF , 427px 1115px #FFF , 771px 35px #FFF , 596px 1420px #FFF , 321px 936px #FFF , 1317px 1444px #FFF , 173px 776px #FFF , 933px 429px #FFF , 1921px 1065px #FFF , 1555px 172px #FFF , 1587px 617px #FFF , 134px 170px #FFF , 1856px 1582px #FFF , 415px 811px #FFF , 193px 914px #FFF , 333px 708px #FFF , 1056px 1649px #FFF , 343px 346px #FFF , 755px 1702px #FFF , 17px 1883px #FFF , 530px 1826px #FFF , 1595px 1851px #FFF , 1684px 1923px #FFF , 1746px 600px #FFF , 1254px 1712px #FFF , 108px 1356px #FFF , 58px 338px #FFF , 197px 553px #FFF , 1805px 1558px #FFF , 1017px 474px #FFF , 785px 576px #FFF , 305px 1041px #FFF , 733px 1154px #FFF , 524px 1199px #FFF , 1132px 1231px #FFF , 749px 1119px #FFF , 1541px 750px #FFF , 1027px 28px #FFF , 1048px 1530px #FFF , 674px 915px #FFF , 1215px 222px #FFF , 946px 1245px #FFF , 1767px 1698px #FFF , 1596px 1071px #FFF , 1614px 1958px #FFF , 403px 254px #FFF , 1861px 1728px #FFF , 744px 1704px #FFF , 1975px 215px #FFF , 360px 529px #FFF , 164px 1110px #FFF , 331px 1529px #FFF , 568px 550px #FFF , 1877px 1060px #FFF , 1379px 975px #FFF , 1953px 1131px #FFF , 1794px 1265px #FFF , 1334px 1158px #FFF , 1609px 50px #FFF , 567px 167px #FFF , 835px 1844px #FFF , 106px 834px #FFF , 310px 246px #FFF , 1938px 1504px #FFF , 1741px 441px #FFF , 642px 1649px #FFF , 44px 1786px #FFF , 86px 674px #FFF , 437px 118px #FFF , 1301px 606px #FFF , 1513px 1000px #FFF , 539px 1210px #FFF , 183px 963px #FFF , 117px 823px #FFF , 259px 555px #FFF , 1592px 661px #FFF , 1615px 1199px #FFF , 865px 676px #FFF , 1309px 1464px #FFF , 1626px 820px #FFF , 453px 674px #FFF , 1577px 367px #FFF , 926px 1946px #FFF , 487px 1087px #FFF , 1752px 816px #FFF , 3px 995px #FFF , 1444px 742px #FFF , 42px 1970px #FFF , 1143px 1549px #FFF , 921px 1601px #FFF , 1356px 1769px #FFF , 1729px 1412px #FFF , 509px 1872px #FFF , 1963px 180px #FFF , 228px 724px #FFF , 1936px 633px #FFF , 418px 930px #FFF , 1824px 174px #FFF , 970px 422px #FFF , 1112px 317px #FFF , 1438px 295px #FFF , 572px 1207px #FFF , 1794px 1515px #FFF , 179px 1604px #FFF , 1075px 263px #FFF , 725px 1741px #FFF , 365px 885px #FFF , 1238px 1154px #FFF , 1007px 337px #FFF , 572px 1077px #FFF , 705px 1394px #FFF , 135px 229px #FFF , 1334px 671px #FFF , 902px 1779px #FFF , 552px 1931px #FFF , 42px 592px #FFF , 757px 1306px #FFF , 485px 817px #FFF , 399px 1173px #FFF , 230px 708px #FFF , 1706px 1529px #FFF , 1295px 1405px #FFF , 1345px 318px #FFF , 146px 240px #FFF , 1879px 547px #FFF , 1971px 399px #FFF , 1669px 259px #FFF , 1399px 891px #FFF , 266px 1455px #FFF , 833px 1604px #FFF , 828px 85px #FFF , 14px 1018px #FFF , 517px 1357px #FFF , 661px 1829px #FFF , 152px 1177px #FFF , 1814px 613px #FFF , 1058px 811px #FFF , 649px 86px #FFF , 625px 256px #FFF , 1098px 880px #FFF , 1756px 317px #FFF , 107px 552px #FFF , 1260px 1482px #FFF , 124px 1074px #FFF , 380px 349px #FFF , 1036px 1251px #FFF , 1386px 1315px #FFF , 963px 774px #FFF , 1104px 90px #FFF , 1978px 381px #FFF , 1101px 33px #FFF , 153px 409px #FFF , 1018px 1852px #FFF , 1219px 689px #FFF , 377px 1891px #FFF , 1171px 854px #FFF , 459px 536px #FFF , 1951px 1319px #FFF , 1235px 1027px #FFF , 383px 1183px #FFF , 1730px 549px #FFF , 943px 1918px #FFF , 1272px 1564px #FFF , 680px 586px #FFF , 512px 184px #FFF , 1261px 1053px #FFF , 1503px 976px #FFF , 1707px 1770px #FFF , 1444px 1070px #FFF , 1629px 1651px #FFF , 636px 447px #FFF , 1920px 592px #FFF , 172px 777px #FFF , 443px 1776px #FFF , 1095px 1302px #FFF , 1516px 754px #FFF , 1116px 301px #FFF , 878px 1578px #FFF , 878px 1486px #FFF , 1211px 961px #FFF , 1640px 37px #FFF , 929px 1283px #FFF , 1693px 1334px #FFF , 1860px 1684px #FFF , 1212px 758px #FFF , 1871px 638px #FFF , 1155px 1588px #FFF , 327px 1892px #FFF , 565px 784px #FFF , 180px 274px #FFF , 1782px 994px #FFF , 1806px 1561px #FFF , 1846px 1204px #FFF , 1960px 1387px #FFF , 450px 1889px #FFF , 1387px 1299px #FFF , 1160px 1773px #FFF , 1623px 484px #FFF , 660px 967px #FFF , 1113px 1899px #FFF , 959px 1845px #FFF , 1245px 918px #FFF , 616px 417px #FFF , 1106px 1307px #FFF , 170px 1041px #FFF , 1447px 1553px #FFF , 1915px 147px #FFF , 151px 251px #FFF , 958px 179px #FFF , 1783px 602px #FFF , 565px 1970px #FFF , 1736px 841px #FFF , 1646px 1386px #FFF , 881px 131px #FFF , 1447px 1633px #FFF , 1846px 1932px #FFF , 902px 1460px #FFF , 1697px 298px #FFF , 325px 367px #FFF , 342px 1586px #FFF , 1004px 1140px #FFF , 1369px 1605px #FFF , 1561px 739px #FFF , 1743px 861px #FFF , 812px 1814px #FFF , 415px 185px #FFF , 244px 735px #FFF , 1302px 1565px #FFF , 1484px 656px #FFF , 252px 372px #FFF , 846px 678px #FFF , 1951px 1329px #FFF , 1732px 1774px #FFF , 272px 1146px #FFF , 116px 1306px #FFF , 1848px 197px #FFF , 1225px 1001px #FFF , 1666px 1581px #FFF , 798px 1477px #FFF , 125px 1633px #FFF , 9px 1819px #FFF , 465px 1170px #FFF , 1329px 1711px #FFF , 316px 408px #FFF , 470px 1082px #FFF , 698px 938px #FFF , 745px 243px #FFF , 764px 1572px #FFF , 346px 8px #FFF , 1075px 1393px #FFF , 803px 600px #FFF , 193px 947px #FFF , 385px 620px #FFF , 159px 39px #FFF , 1643px 301px #FFF , 82px 1888px #FFF , 1398px 1120px #FFF , 906px 704px #FFF , 921px 248px #FFF , 1402px 1882px #FFF , 308px 1899px #FFF , 1985px 1471px #FFF , 1580px 1060px #FFF , 1442px 428px #FFF , 1441px 1539px #FFF , 843px 1426px #FFF , 1869px 1285px #FFF , 1214px 612px #FFF , 1702px 762px #FFF , 1862px 527px #FFF , 39px 784px #FFF , 734px 545px #FFF , 1834px 1393px #FFF , 1094px 1958px #FFF , 347px 1865px #FFF , 1365px 57px #FFF , 545px 942px #FFF , 1746px 1255px #FFF , 1758px 232px #FFF , 1637px 1472px #FFF , 681px 976px #FFF , 118px 1056px #FFF , 431px 348px #FFF , 265px 630px #FFF , 1316px 73px #FFF , 536px 1153px #FFF , 626px 928px #FFF , 1297px 1028px #FFF , 1871px 1054px #FFF , 460px 816px #FFF , 1904px 1633px #FFF , 53px 1079px #FFF , 1026px 1309px #FFF , 830px 715px #FFF , 717px 1728px #FFF , 1632px 1234px #FFF , 61px 462px #FFF , 1692px 1605px #FFF , 876px 1415px #FFF , 1209px 571px #FFF , 1367px 1206px #FFF , 1229px 1727px #FFF , 744px 1753px #FFF , 1552px 146px #FFF , 1753px 1030px #FFF , 839px 377px #FFF , 1114px 54px #FFF , 1306px 1242px #FFF , 1706px 262px #FFF , 1680px 1682px #FFF , 1709px 1278px #FFF , 1770px 345px #FFF , 1813px 385px #FFF , 795px 1736px #FFF , 1386px 890px #FFF , 1385px 288px #FFF , 1353px 1051px #FFF , 1467px 1721px #FFF , 1045px 1893px #FFF , 378px 1438px #FFF , 1585px 306px #FFF , 785px 1617px #FFF , 1619px 1029px #FFF , 1754px 664px #FFF , 740px 1496px #FFF , 1284px 11px #FFF , 1914px 180px #FFF , 901px 102px #FFF , 1363px 545px #FFF , 82px 109px #FFF , 1062px 880px #FFF , 315px 452px #FFF , 1735px 1268px #FFF , 200px 898px #FFF , 1667px 1064px #FFF , 461px 435px #FFF , 1182px 1040px #FFF , 659px 717px #FFF , 669px 395px #FFF , 1821px 1781px #FFF , 1615px 828px #FFF , 490px 1249px #FFF , 1469px 52px #FFF , 453px 1505px #FFF , 80px 40px #FFF , 332px 409px #FFF , 1983px 1427px #FFF , 41px 1849px #FFF , 961px 16px #FFF , 1548px 997px #FFF , 1989px 276px #FFF , 1731px 547px #FFF , 1979px 1326px #FFF , 1822px 590px #FFF , 709px 1464px #FFF , 1349px 250px #FFF , 1364px 511px #FFF , 1123px 954px #FFF , 210px 33px #FFF , 1610px 369px #FFF , 1842px 68px #FFF , 230px 723px #FFF , 1999px 250px #FFF , 147px 1512px #FFF , 847px 964px #FFF , 1177px 742px #FFF , 1867px 115px #FFF , 1462px 93px #FFF , 485px 1249px #FFF , 361px 779px #FFF , 1006px 746px #FFF , 1340px 991px #FFF , 1776px 1381px #FFF , 565px 1487px #FFF , 857px 23px #FFF , 246px 1734px #FFF , 604px 1461px #FFF , 81px 1294px #FFF , 1670px 393px #FFF , 449px 1729px #FFF , 759px 402px #FFF , 1733px 108px #FFF , 11px 266px #FFF , 1815px 984px #FFF , 226px 567px #FFF , 77px 845px #FFF , 612px 1970px #FFF , 16px 1622px #FFF , 1687px 434px #FFF , 231px 283px #FFF , 31px 1698px #FFF , 196px 1690px #FFF , 1951px 1649px #FFF , 1723px 1871px #FFF , 1546px 870px #FFF , 767px 607px #FFF , 800px 999px #FFF , 1903px 1574px #FFF , 1939px 1193px #FFF , 1896px 1763px #FFF , 1532px 1419px #FFF , 1203px 1841px #FFF , 1833px 448px #FFF , 289px 1869px #FFF , 1326px 1978px #FFF , 1730px 1639px #FFF , 1933px 1540px #FFF , 380px 392px #FFF , 821px 1069px #FFF , 577px 338px #FFF , 1910px 1208px #FFF , 240px 1629px #FFF , 1307px 178px #FFF , 1684px 1851px #FFF , 739px 257px #FFF , 274px 1663px #FFF , 1109px 1230px #FFF , 1417px 632px #FFF , 1123px 342px #FFF , 276px 113px #FFF , 470px 959px #FFF , 656px 270px #FFF , 1283px 1253px #FFF , 1367px 1691px #FFF , 215px 243px #FFF , 1397px 1521px #FFF , 1687px 1202px #FFF , 1166px 1380px #FFF , 741px 1030px #FFF , 206px 1916px #FFF , 291px 198px #FFF , 525px 986px #FFF , 271px 300px #FFF , 936px 288px #FFF , 1364px 211px #FFF , 187px 1446px #FFF , 1876px 851px #FFF , 36px 1526px #FFF , 1692px 152px #FFF , 1121px 143px #FFF , 1526px 1477px #FFF , 684px 1135px #FFF , 1945px 1166px #FFF , 1351px 1038px #FFF , 1130px 923px #FFF , 1911px 449px #FFF , 473px 198px #FFF , 414px 1026px #FFF , 385px 1667px #FFF , 718px 222px #FFF , 200px 309px #FFF , 379px 1345px #FFF , 1686px 66px #FFF , 124px 1733px #FFF , 1739px 263px #FFF , 1429px 334px #FFF , 1522px 1591px #FFF , 1543px 124px #FFF , 1840px 1911px #FFF , 1689px 1052px #FFF , 397px 1270px #FFF , 1430px 1801px #FFF , 1796px 532px #FFF , 38px 225px #FFF , 22px 1389px #FFF , 1836px 1442px #FFF , 29px 473px #FFF , 1370px 1px #FFF , 1165px 107px #FFF , 580px 634px #FFF , 805px 944px #FFF , 1148px 272px #FFF , 1422px 1212px #FFF , 1159px 699px #FFF , 1411px 1676px #FFF , 567px 232px #FFF , 1609px 457px #FFF , 384px 1541px #FFF , 1246px 1571px #FFF , 979px 165px #FFF , 821px 1996px #FFF , 303px 1763px #FFF , 915px 1105px #FFF , 1227px 599px #FFF , 562px 1115px #FFF , 1923px 120px #FFF , 787px 241px #FFF , 1161px 360px #FFF , 698px 1949px #FFF , 23px 1559px #FFF , 1432px 943px #FFF , 160px 836px #FFF , 507px 336px #FFF , 1707px 1163px #FFF , 691px 1380px #FFF , 18px 1217px #FFF , 1847px 1387px #FFF , 56px 493px #FFF , 1779px 259px #FFF , 525px 1933px #FFF , 306px 1534px #FFF , 1850px 1795px #FFF , 568px 1065px #FFF , 895px 1709px #FFF , 414px 459px #FFF , 849px 1312px #FFF , 1386px 304px #FFF , 1176px 1071px #FFF , 1077px 1449px #FFF , 1409px 1348px #FFF , 1528px 831px #FFF , 1063px 1621px #FFF , 863px 147px #FFF , 840px 657px #FFF , 1088px 1394px #FFF , 696px 974px #FFF , 1139px 352px #FFF , 772px 539px #FFF , 1900px 922px #FFF , 1042px 979px #FFF , 697px 1254px #FFF , 1527px 463px #FFF , 1644px 751px #FFF , 1445px 500px #FFF , 306px 1554px #FFF , 20px 1354px #FFF , 1089px 849px #FFF , 1079px 1408px #FFF , 916px 212px #FFF , 1085px 639px #FFF , 919px 1682px #FFF , 1069px 511px #FFF , 1102px 1057px #FFF , 1113px 456px #FFF , 682px 1346px #FFF , 1515px 738px #FFF , 721px 1239px #FFF , 1127px 881px #FFF , 1695px 1128px #FFF , 148px 1000px #FFF , 1581px 244px #FFF , 1466px 751px #FFF , 524px 836px #FFF , 56px 1804px #FFF , 434px 313px #FFF , 1956px 1364px #FFF , 1085px 1414px #FFF , 419px 1508px #FFF , 479px 363px #FFF , 1355px 1347px #FFF , 999px 1428px #FFF , 1557px 748px #FFF , 671px 71px #FFF , 1304px 1958px #FFF , 1209px 145px #FFF , 1359px 42px #FFF , 1492px 420px #FFF , 349px 1812px #FFF , 1746px 1401px #FFF , 1192px 762px #FFF , 1487px 755px #FFF , 1880px 1482px #FFF , 737px 144px #FFF , 740px 1661px #FFF , 570px 1208px #FFF , 1876px 1284px #FFF , 1081px 537px #FFF , 1213px 114px #FFF , 500px 134px #FFF , 1414px 1623px #FFF , 693px 1959px #FFF , 1614px 1578px #FFF , 735px 772px #FFF , 1026px 839px #FFF , 1141px 865px #FFF , 417px 986px #FFF , 372px 1542px #FFF , 1230px 216px #FFF , 1528px 1638px #FFF , 645px 763px #FFF , 1764px 623px #FFF , 509px 683px #FFF , 332px 1331px #FFF , 616px 2px #FFF , 1503px 1224px #FFF , 856px 1991px #FFF , 1570px 1903px #FFF , 1052px 1856px #FFF , 1218px 1713px #FFF , 485px 897px #FFF , 582px 1354px #FFF , 1319px 1920px #FFF , 1679px 1966px #FFF , 286px 107px #FFF , 1668px 1373px #FFF , 1615px 234px #FFF , 374px 22px #FFF , 1647px 343px #FFF , 1861px 1493px #FFF , 1413px 18px #FFF , 725px 1413px #FFF , 1476px 972px #FFF , 1986px 586px #FFF , 1588px 1290px #FFF , 300px 1778px #FFF , 128px 1883px #FFF , 902px 1843px #FFF , 695px 1497px #FFF , 637px 798px #FFF , 571px 1835px #FFF , 1353px 1256px #FFF , 218px 833px #FFF , 826px 10px #FFF , 989px 517px #FFF , 1018px 788px #FFF , 49px 1599px #FFF , 1324px 1246px #FFF , 478px 1445px #FFF , 46px 1486px #FFF , 317px 1596px #FFF , 783px 1070px #FFF , 833px 1368px #FFF , 1376px 1573px #FFF , 1953px 1255px #FFF , 1160px 1904px #FFF , 1357px 75px #FFF , 376px 750px #FFF , 634px 959px #FFF , 769px 544px #FFF , 1952px 1725px #FFF , 207px 1206px #FFF , 963px 1328px #FFF , 374px 1760px #FFF , 875px 1939px #FFF , 63px 1926px #FFF , 452px 530px #FFF , 296px 1125px #FFF , 1515px 1823px #FFF , 411px 785px #FFF , 1955px 1919px #FFF , 1755px 1696px #FFF , 1953px 924px #FFF , 1779px 1287px #FFF , 1106px 403px #FFF , 1540px 1682px #FFF , 1865px 1932px #FFF , 858px 13px #FFF , 698px 1580px #FFF , 426px 487px #FFF , 302px 412px #FFF , 961px 1792px #FFF , 398px 213px #FFF , 1868px 629px #FFF , 1757px 1518px #FFF , 871px 806px #FFF , 500px 1084px #FFF , 252px 1332px #FFF , 1037px 1579px #FFF , 367px 1033px #FFF , 1963px 1453px #FFF , 1212px 233px #FFF , 147px 1663px #FFF , 1346px 445px #FFF , 931px 888px #FFF , 1203px 1913px #FFF , 1340px 1489px #FFF , 1601px 1672px #FFF , 1566px 998px #FFF , 746px 1654px #FFF , 11px 1423px #FFF , 880px 1189px #FFF , 1496px 1624px #FFF , 152px 621px #FFF , 1352px 367px #FFF , 583px 1386px #FFF , 1982px 1061px #FFF , 236px 1521px #FFF , 885px 1442px #FFF , 696px 821px #FFF , 272px 719px #FFF , 1420px 647px #FFF;
  }
  
  #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 184px 492px #FFF , 1589px 417px #FFF , 1106px 1011px #FFF , 1524px 1773px #FFF , 1326px 745px #FFF , 695px 277px #FFF , 1469px 1478px #FFF , 372px 1865px #FFF , 1027px 995px #FFF , 345px 1185px #FFF , 1613px 914px #FFF , 1348px 1752px #FFF , 1766px 759px #FFF , 1743px 1487px #FFF , 1988px 575px #FFF , 1487px 391px #FFF , 1293px 1851px #FFF , 179px 1465px #FFF , 1379px 990px #FFF , 1857px 94px #FFF , 1041px 57px #FFF , 586px 1974px #FFF , 400px 410px #FFF , 1382px 1616px #FFF , 1389px 147px #FFF , 591px 1982px #FFF , 1749px 1570px #FFF , 487px 1258px #FFF , 580px 892px #FFF , 917px 1324px #FFF , 367px 1434px #FFF , 1582px 309px #FFF , 364px 1423px #FFF , 252px 861px #FFF , 1711px 391px #FFF , 1437px 1648px #FFF , 78px 1950px #FFF , 616px 1185px #FFF , 1383px 882px #FFF , 1133px 1663px #FFF , 877px 677px #FFF , 1963px 1351px #FFF , 1899px 304px #FFF , 678px 105px #FFF , 507px 1146px #FFF , 1611px 1187px #FFF , 77px 651px #FFF , 96px 1581px #FFF , 1394px 901px #FFF , 948px 1304px #FFF , 1144px 1184px #FFF , 98px 850px #FFF , 1941px 428px #FFF , 1473px 388px #FFF , 1762px 759px #FFF , 877px 1935px #FFF , 881px 1530px #FFF , 198px 1635px #FFF , 1566px 1944px #FFF , 1617px 75px #FFF , 454px 147px #FFF , 1315px 1568px #FFF , 316px 1074px #FFF , 96px 1643px #FFF , 1827px 1193px #FFF , 377px 1718px #FFF , 1663px 1191px #FFF , 476px 843px #FFF , 1845px 66px #FFF , 1157px 904px #FFF , 1593px 395px #FFF , 1023px 1710px #FFF , 589px 1115px #FFF , 231px 1814px #FFF , 1862px 636px #FFF , 136px 1673px #FFF , 1884px 1817px #FFF , 653px 1191px #FFF , 391px 437px #FFF , 1261px 566px #FFF , 1437px 1221px #FFF , 519px 1287px #FFF , 241px 1458px #FFF , 1312px 963px #FFF , 12px 517px #FFF , 206px 466px #FFF , 1707px 742px #FFF , 1300px 1497px #FFF , 641px 1687px #FFF , 1990px 1705px #FFF , 1436px 1509px #FFF , 1480px 1570px #FFF , 339px 1673px #FFF , 744px 1070px #FFF , 760px 290px #FFF , 1558px 585px #FFF , 1550px 1284px #FFF , 317px 536px #FFF , 1680px 1772px #FFF , 1825px 1086px #FFF , 257px 1945px #FFF , 1204px 1116px #FFF , 1977px 1323px #FFF , 762px 1916px #FFF , 1046px 415px #FFF , 1805px 1575px #FFF , 1116px 715px #FFF , 86px 1038px #FFF , 822px 918px #FFF , 658px 836px #FFF , 204px 1605px #FFF , 1471px 1700px #FFF , 866px 887px #FFF , 1935px 866px #FFF , 927px 535px #FFF , 1167px 70px #FFF , 473px 950px #FFF , 1339px 1787px #FFF , 1263px 430px #FFF , 1723px 749px #FFF , 992px 667px #FFF , 27px 327px #FFF , 1987px 124px #FFF , 126px 908px #FFF , 1334px 763px #FFF , 579px 277px #FFF , 1093px 605px #FFF , 1215px 1521px #FFF , 123px 1241px #FFF , 118px 1630px #FFF , 1344px 1936px #FFF , 1935px 1278px #FFF , 822px 1164px #FFF , 816px 1411px #FFF , 226px 211px #FFF , 681px 1312px #FFF , 1261px 1109px #FFF , 1635px 1297px #FFF , 1577px 1368px #FFF , 1396px 490px #FFF , 1023px 1244px #FFF , 1235px 1582px #FFF , 620px 1115px #FFF , 1350px 1326px #FFF , 741px 967px #FFF , 433px 1685px #FFF , 403px 431px #FFF , 1845px 1897px #FFF , 1615px 170px #FFF , 1210px 266px #FFF , 1546px 108px #FFF , 1975px 1885px #FFF , 1029px 759px #FFF , 1404px 1991px #FFF , 1353px 1416px #FFF , 1406px 271px #FFF , 1537px 573px #FFF , 1321px 1375px #FFF , 1014px 1137px #FFF , 1262px 1708px #FFF , 1337px 217px #FFF , 215px 175px #FFF , 1209px 846px #FFF , 1045px 1520px #FFF , 450px 1360px #FFF , 1416px 1929px #FFF , 1527px 1477px #FFF , 1758px 1512px #FFF , 1751px 710px #FFF , 1663px 1122px #FFF , 1188px 456px #FFF , 329px 1575px #FFF , 864px 1707px #FFF , 1151px 543px #FFF , 616px 352px #FFF , 155px 598px #FFF , 42px 1423px #FFF , 898px 1940px #FFF , 1889px 1167px #FFF , 712px 301px #FFF , 839px 1426px #FFF , 990px 593px #FFF , 1394px 988px #FFF , 686px 665px #FFF , 941px 214px #FFF , 1084px 483px #FFF , 271px 965px #FFF , 1379px 623px #FFF , 86px 228px #FFF , 1958px 509px #FFF , 134px 1131px #FFF , 1033px 87px #FFF , 1245px 1946px #FFF , 1840px 1041px #FFF , 1642px 1090px #FFF , 1848px 151px #FFF , 829px 826px #FFF , 464px 519px #FFF , 1488px 335px #FFF , 1623px 1364px #FFF;
    animation: animStar 100s linear infinite;
  }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 184px 492px #FFF , 1589px 417px #FFF , 1106px 1011px #FFF , 1524px 1773px #FFF , 1326px 745px #FFF , 695px 277px #FFF , 1469px 1478px #FFF , 372px 1865px #FFF , 1027px 995px #FFF , 345px 1185px #FFF , 1613px 914px #FFF , 1348px 1752px #FFF , 1766px 759px #FFF , 1743px 1487px #FFF , 1988px 575px #FFF , 1487px 391px #FFF , 1293px 1851px #FFF , 179px 1465px #FFF , 1379px 990px #FFF , 1857px 94px #FFF , 1041px 57px #FFF , 586px 1974px #FFF , 400px 410px #FFF , 1382px 1616px #FFF , 1389px 147px #FFF , 591px 1982px #FFF , 1749px 1570px #FFF , 487px 1258px #FFF , 580px 892px #FFF , 917px 1324px #FFF , 367px 1434px #FFF , 1582px 309px #FFF , 364px 1423px #FFF , 252px 861px #FFF , 1711px 391px #FFF , 1437px 1648px #FFF , 78px 1950px #FFF , 616px 1185px #FFF , 1383px 882px #FFF , 1133px 1663px #FFF , 877px 677px #FFF , 1963px 1351px #FFF , 1899px 304px #FFF , 678px 105px #FFF , 507px 1146px #FFF , 1611px 1187px #FFF , 77px 651px #FFF , 96px 1581px #FFF , 1394px 901px #FFF , 948px 1304px #FFF , 1144px 1184px #FFF , 98px 850px #FFF , 1941px 428px #FFF , 1473px 388px #FFF , 1762px 759px #FFF , 877px 1935px #FFF , 881px 1530px #FFF , 198px 1635px #FFF , 1566px 1944px #FFF , 1617px 75px #FFF , 454px 147px #FFF , 1315px 1568px #FFF , 316px 1074px #FFF , 96px 1643px #FFF , 1827px 1193px #FFF , 377px 1718px #FFF , 1663px 1191px #FFF , 476px 843px #FFF , 1845px 66px #FFF , 1157px 904px #FFF , 1593px 395px #FFF , 1023px 1710px #FFF , 589px 1115px #FFF , 231px 1814px #FFF , 1862px 636px #FFF , 136px 1673px #FFF , 1884px 1817px #FFF , 653px 1191px #FFF , 391px 437px #FFF , 1261px 566px #FFF , 1437px 1221px #FFF , 519px 1287px #FFF , 241px 1458px #FFF , 1312px 963px #FFF , 12px 517px #FFF , 206px 466px #FFF , 1707px 742px #FFF , 1300px 1497px #FFF , 641px 1687px #FFF , 1990px 1705px #FFF , 1436px 1509px #FFF , 1480px 1570px #FFF , 339px 1673px #FFF , 744px 1070px #FFF , 760px 290px #FFF , 1558px 585px #FFF , 1550px 1284px #FFF , 317px 536px #FFF , 1680px 1772px #FFF , 1825px 1086px #FFF , 257px 1945px #FFF , 1204px 1116px #FFF , 1977px 1323px #FFF , 762px 1916px #FFF , 1046px 415px #FFF , 1805px 1575px #FFF , 1116px 715px #FFF , 86px 1038px #FFF , 822px 918px #FFF , 658px 836px #FFF , 204px 1605px #FFF , 1471px 1700px #FFF , 866px 887px #FFF , 1935px 866px #FFF , 927px 535px #FFF , 1167px 70px #FFF , 473px 950px #FFF , 1339px 1787px #FFF , 1263px 430px #FFF , 1723px 749px #FFF , 992px 667px #FFF , 27px 327px #FFF , 1987px 124px #FFF , 126px 908px #FFF , 1334px 763px #FFF , 579px 277px #FFF , 1093px 605px #FFF , 1215px 1521px #FFF , 123px 1241px #FFF , 118px 1630px #FFF , 1344px 1936px #FFF , 1935px 1278px #FFF , 822px 1164px #FFF , 816px 1411px #FFF , 226px 211px #FFF , 681px 1312px #FFF , 1261px 1109px #FFF , 1635px 1297px #FFF , 1577px 1368px #FFF , 1396px 490px #FFF , 1023px 1244px #FFF , 1235px 1582px #FFF , 620px 1115px #FFF , 1350px 1326px #FFF , 741px 967px #FFF , 433px 1685px #FFF , 403px 431px #FFF , 1845px 1897px #FFF , 1615px 170px #FFF , 1210px 266px #FFF , 1546px 108px #FFF , 1975px 1885px #FFF , 1029px 759px #FFF , 1404px 1991px #FFF , 1353px 1416px #FFF , 1406px 271px #FFF , 1537px 573px #FFF , 1321px 1375px #FFF , 1014px 1137px #FFF , 1262px 1708px #FFF , 1337px 217px #FFF , 215px 175px #FFF , 1209px 846px #FFF , 1045px 1520px #FFF , 450px 1360px #FFF , 1416px 1929px #FFF , 1527px 1477px #FFF , 1758px 1512px #FFF , 1751px 710px #FFF , 1663px 1122px #FFF , 1188px 456px #FFF , 329px 1575px #FFF , 864px 1707px #FFF , 1151px 543px #FFF , 616px 352px #FFF , 155px 598px #FFF , 42px 1423px #FFF , 898px 1940px #FFF , 1889px 1167px #FFF , 712px 301px #FFF , 839px 1426px #FFF , 990px 593px #FFF , 1394px 988px #FFF , 686px 665px #FFF , 941px 214px #FFF , 1084px 483px #FFF , 271px 965px #FFF , 1379px 623px #FFF , 86px 228px #FFF , 1958px 509px #FFF , 134px 1131px #FFF , 1033px 87px #FFF , 1245px 1946px #FFF , 1840px 1041px #FFF , 1642px 1090px #FFF , 1848px 151px #FFF , 829px 826px #FFF , 464px 519px #FFF , 1488px 335px #FFF , 1623px 1364px #FFF;
  }
  
  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 311px 1199px #FFF , 724px 1851px #FFF , 301px 143px #FFF , 400px 1025px #FFF , 1399px 1590px #FFF , 1454px 592px #FFF , 1455px 368px #FFF , 1620px 878px #FFF , 1096px 941px #FFF , 1123px 1309px #FFF , 1855px 1126px #FFF , 799px 1186px #FFF , 846px 959px #FFF , 1589px 582px #FFF , 1637px 1956px #FFF , 994px 1202px #FFF , 1308px 1012px #FFF , 1538px 1671px #FFF , 846px 1404px #FFF , 476px 209px #FFF , 1215px 656px #FFF , 1970px 1181px #FFF , 1190px 60px #FFF , 111px 477px #FFF , 376px 382px #FFF , 624px 305px #FFF , 214px 1169px #FFF , 1075px 1858px #FFF , 1119px 1097px #FFF , 604px 1889px #FFF , 834px 315px #FFF , 1424px 987px #FFF , 574px 1548px #FFF , 555px 1574px #FFF , 1024px 1911px #FFF , 1736px 711px #FFF , 16px 512px #FFF , 505px 1568px #FFF , 1931px 402px #FFF , 328px 1445px #FFF , 11px 892px #FFF , 67px 94px #FFF , 1340px 94px #FFF , 1636px 1660px #FFF , 3px 766px #FFF , 531px 303px #FFF , 167px 836px #FFF , 1818px 1329px #FFF , 1992px 897px #FFF , 1139px 1191px #FFF , 1656px 849px #FFF , 1844px 701px #FFF , 1658px 431px #FFF , 1167px 727px #FFF , 1723px 66px #FFF , 1642px 598px #FFF , 520px 41px #FFF , 1955px 1313px #FFF , 676px 952px #FFF , 1742px 843px #FFF , 749px 1325px #FFF , 823px 1590px #FFF , 817px 1162px #FFF , 1088px 710px #FFF , 1338px 937px #FFF , 210px 1304px #FFF , 693px 215px #FFF , 1294px 1240px #FFF , 1260px 1029px #FFF , 875px 1898px #FFF , 244px 1977px #FFF , 441px 935px #FFF , 12px 1207px #FFF , 1361px 743px #FFF , 1241px 39px #FFF , 1708px 1966px #FFF , 1008px 494px #FFF , 1234px 569px #FFF , 742px 497px #FFF , 605px 892px #FFF , 1668px 233px #FFF , 11px 1506px #FFF , 639px 193px #FFF , 405px 406px #FFF , 874px 1470px #FFF , 975px 350px #FFF , 599px 1952px #FFF , 1053px 883px #FFF , 1841px 42px #FFF , 1235px 1161px #FFF , 150px 1025px #FFF , 1099px 364px #FFF , 1472px 1820px #FFF , 216px 1049px #FFF , 1059px 1551px #FFF , 1638px 1040px #FFF , 1208px 1432px #FFF , 1230px 1510px #FFF , 1031px 762px #FFF , 259px 1986px #FFF;
    animation: animStar 150s linear infinite;
  }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 311px 1199px #FFF , 724px 1851px #FFF , 301px 143px #FFF , 400px 1025px #FFF , 1399px 1590px #FFF , 1454px 592px #FFF , 1455px 368px #FFF , 1620px 878px #FFF , 1096px 941px #FFF , 1123px 1309px #FFF , 1855px 1126px #FFF , 799px 1186px #FFF , 846px 959px #FFF , 1589px 582px #FFF , 1637px 1956px #FFF , 994px 1202px #FFF , 1308px 1012px #FFF , 1538px 1671px #FFF , 846px 1404px #FFF , 476px 209px #FFF , 1215px 656px #FFF , 1970px 1181px #FFF , 1190px 60px #FFF , 111px 477px #FFF , 376px 382px #FFF , 624px 305px #FFF , 214px 1169px #FFF , 1075px 1858px #FFF , 1119px 1097px #FFF , 604px 1889px #FFF , 834px 315px #FFF , 1424px 987px #FFF , 574px 1548px #FFF , 555px 1574px #FFF , 1024px 1911px #FFF , 1736px 711px #FFF , 16px 512px #FFF , 505px 1568px #FFF , 1931px 402px #FFF , 328px 1445px #FFF , 11px 892px #FFF , 67px 94px #FFF , 1340px 94px #FFF , 1636px 1660px #FFF , 3px 766px #FFF , 531px 303px #FFF , 167px 836px #FFF , 1818px 1329px #FFF , 1992px 897px #FFF , 1139px 1191px #FFF , 1656px 849px #FFF , 1844px 701px #FFF , 1658px 431px #FFF , 1167px 727px #FFF , 1723px 66px #FFF , 1642px 598px #FFF , 520px 41px #FFF , 1955px 1313px #FFF , 676px 952px #FFF , 1742px 843px #FFF , 749px 1325px #FFF , 823px 1590px #FFF , 817px 1162px #FFF , 1088px 710px #FFF , 1338px 937px #FFF , 210px 1304px #FFF , 693px 215px #FFF , 1294px 1240px #FFF , 1260px 1029px #FFF , 875px 1898px #FFF , 244px 1977px #FFF , 441px 935px #FFF , 12px 1207px #FFF , 1361px 743px #FFF , 1241px 39px #FFF , 1708px 1966px #FFF , 1008px 494px #FFF , 1234px 569px #FFF , 742px 497px #FFF , 605px 892px #FFF , 1668px 233px #FFF , 11px 1506px #FFF , 639px 193px #FFF , 405px 406px #FFF , 874px 1470px #FFF , 975px 350px #FFF , 599px 1952px #FFF , 1053px 883px #FFF , 1841px 42px #FFF , 1235px 1161px #FFF , 150px 1025px #FFF , 1099px 364px #FFF , 1472px 1820px #FFF , 216px 1049px #FFF , 1059px 1551px #FFF , 1638px 1040px #FFF , 1208px 1432px #FFF , 1230px 1510px #FFF , 1031px 762px #FFF , 259px 1986px #FFF;
  }
  
  #title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 2vw;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
  }
  #title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }
  

@media (max-width:991px){


    .bit_hi{
        position: static;
        max-height: 70vw;
    }

}

.name-title{
    font-family: 'Architects Daughter', cursive;
    margin-top: 15px;
    margin-bottom: 1vw;
    font-size: 5vw;
    color: rgb(255, 255, 255);
}

.desig{
    margin-top: 10px;
    font-family: 'Architects Daughter', cursive;
    font-weight: 500;
    font-size: 3vw;
    color: rgb(255, 255, 255);
}

/* promises */

.my_img{
    max-height: 40vw;
    max-width: 40vh;
    position: relative;
    top: 1rem;
    border-radius: 100%;
}

.my_img:hover{
    border-radius: 0%;
}

.text-p2{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    position: relative;
    top: 1rem;
    font-weight: 400;
    margin-bottom: 0px;
}

.desig1{
    margin-top: 1%;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    position: relative;
    top: 1rem;
}

.linkedin{
    max-height: 7vw;
    padding: 1vw;
    position: relative;
    top:1.25rem;
}

.linkedin:hover{
    transform: scale(1.5);
}

.mail{
    max-height: 7vw;
    padding: 1vw;
    position: relative;
    top:1.25rem;
    
}

.mail:hover{
    transform: scale(1.5);
}

.twitter{
    max-height: 7vw;
    padding: 1vw;
    position: relative;
    top:1.25rem;
    
}

.twitter:hover{
    transform: scale(1.5);
}

.cv{
    max-height: 7vw;
    padding: 1vw;
    position: relative;
    top:1.25rem;
    
}

.cv:hover{
    transform: scale(1.5);
}

.github{
    max-height: 7vw;
    padding: 1vw;
    position: relative;
    top:1.25rem;
}

.github:hover{
    transform: scale(1.5);
}


/* z-index: 1; */

#about{
    background-color: #133b5c;
    color: #fcdab7;
    text-align: center;
}

.about-container{
    padding:6% 12% 6%;
}

/* .about-lines{
    padding-top: 6%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 6%;
    font-weight: 50;
}

.fas:hover{
    opacity: 0.5;
}

h3{
    margin-top: 1%;
    font-size: 1.5rem;
    font-weight: 800;
} */


/* testimonials */

#projects{
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    color: #fcdab7;
    text-align: center;

}

.carousel-item{
    padding: 5% 10%;
    text-align: center;
    /* height: 35rem; */
    min-height: 45vh 45vw;
}

/* .testimonial-images{
    height: 100px;
    width:100px;
    border-radius: 100%;
    margin: 3% 3%;
} */

.project_title{
    padding-top: 3%;
    padding-bottom: 0%;
    color: #fcdab7;
    text-decoration: underline;
    font-size: 3rem;
}

.project-text{
    /* padding-left: 10vw; */
    /* padding-right: 10vw; */
    font-size: 1.5rem;
}

.project-img{
    text-align: center;
}
.img-pro{
    max-width: 27vw;
    width: 27vw;
}

.project_tit{
    padding-top:3%;
    /* line-height: 2; */
    font-size: 2rem
}

@media (max-width:991px){
    h2{
        font-size: 2rem;
    }
}

/* publicity */

#skills{
    text-align: center;
    background-color: #133b5c;
    padding-top: 3%;
    padding-bottom: 3%;
    color: #fcdab7;
}

.skills-images{
    max-width: 40vw;
    padding:3% 5%;
    background-color: transparent;
}

@media (max-width:30vw) and (min-width:30vh){
    .skills-images{
        max-width: 40vw;
    }
}

@media (max-width:421px){
    .publicity-images{
        height: 50px;
    }
}

h1{
    padding-bottom: 3%;
    color: #fff;
}


#contact{
    text-align: center;
    background-color: #1d2d50;
    
}


.copyr{
    padding:3% 2% 0%;
    color: gray;
}